# Standard packages needed for the docs
###############################################################################

crate-docs-theme


# Project specific packages
###############################################################################

# Pip is run from the root directory, so this installs the `croud` package
.
sphinx-argparse==0.2.5
